<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
 		<link type="text/css" rel="stylesheet" href="{% static "newproduct/css/materialize.css"%} "/>
      <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
            <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
<script>
     $(document).ready(function(){
    $('select').formSelect();
  });
  </script>
	</head>

	<body>

<div class ="container">
<div class = "row">
<form method="post" action="../upload/" enctype="multipart/form-data"> {% csrf_token %}
	  Product Name:

<div class="input-field inline">

	<input type="text">
</div>

	<br><br>Description about the product:
<div class="input-field col s12">
          <textarea id="textarea1" class="materialize-textarea"></textarea>
          <label for="textarea1">Enter short description about the product</label>
        </div>
	<br><br>Price: ₹

<div class="input-field inline">

	<input type="text">
</div>
	<br><br>Category:<br>

	<div class="input-field col s12 m6">
    <select class="icons">
      <option value="" disabled selected>Choose your option</option>
      <option value="" data-icon="{% static "newproduct/images/cat01.png"%}" class="left">example 1</option>
      <option value="" data-icon="{% static "newproduct/images/cat01.png"%}" class="left">example 2</option>
      <option value="" data-icon="{% static "newproduct/images/cat01.png"%}" class="left">example 3</option>
    </select>
<!--     <label>Images in select</label>
 -->  </div>
	 <script type="text/javascript" src="{% static "newproduct/js/materialize.min.js"%} "></script>
      <script type="text/javascript" src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
  
      
  <br>
	<br><br>Want to upload some pics?

	
<div class="file-field input-field">
      <div class="btn">
        <span>Images</span>
        <input type="file"name="files" multiple>
      </div>
      <div class="file-path-wrapper">
        <input class="file-path validate" type="text" placeholder="Upload one or more product image(s)">
      </div>
    </div>
    <!-- <input type="file" name="files" multiple/> -->
    <br>
     <button class="btn waves-effect waves-light" type="submit" value="Upload" name="action">Submit
    <i class="material-icons right">send</i>
  </button>
    <!-- <input type="submit" value="Upload"/> -->
</form>
</div>
</div>
      
</body>